<div class="col-md-3 background-blue-dark">
    <h4 class="text-center background-md-header"> JOBS</h4>
</div>
<div class="col-md-6 background-blue-light">
    <h4 class="text-center background-md-header"> DEPARTMENT UNAPPROVE</h4>
</div>
<div class="col-md-3 background-blue-dark">
    <h4 class="text-center background-md-header"> JOBS HISTORY</h4>
</div>
<div class="col-md-3 background-dark">
    <div class="padding-top-10 " style="height: calc(100vh - 94px);" >
        <div class="input-group  padding-top-10">
            <input type="text" class="form-control" placeholder="Search by category & department" >
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
        <div class="smart-scroll-y" style="height: calc(100vh - 172px);" ng-show="model.newJobList.length">
            <table class="table table-hover" style="margin-top: 20px">
                <tbody>
                    <tr ng-repeat="jobs in model.newJobList| filter:{name:model.search.indexNo} | orderBy:'indexNo' ">
                        <td class="col-sm-3" ng-click="ui.setDescription(jobs, $index)" ng-class="ui.selectedJobIndex === jobs.indexNo ? 'selected' : ''">
                            <label class="control-label" style="margin-top: 5px">Job No : <span class="label label-info">{{jobs.indexNo}}</span></label>    
                            <label class="control-label" style="margin-top: 5px">Status : <span><label class="control-label label-danger">{{jobs.status}}</label></span></label><br>
                            <label class="control-label" style="margin-top: 5px">Required Date : {{jobs.requiredDate|date:'yyyy-MM-dd'}}</label><br>
                            <label class="control-label" style="margin-top: 5px">Required Time : {{jobs.requiredTime|date:'h:mma'}}</label><br>
                            <label class="control-label" style="margin-top: 5px">Send Department : {{ui.setDepartmentLabel(jobs.user)}}</label><br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="hide-area background-dark" style="height: calc(100vh - 172px);" ng-hide="model.newJobList.length">
            <h1>EMPTY JOBS :(</h1>
        </div>
    </div>
</div>
<div class="col-md-6 background-white">
    <div class="padding-top-10" style="height: calc(100vh - 94px);">
        <table class="table">
            <tbody style="background-color: #ffffff">
                <tr>
                    <td class="col-md-12">
                        <label class="control-label" > Description :</label>
                        <textarea class="form-control" style="font-size: 20px; height: 13vh" readonly="true" ng-model="model.job.clientDescription"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-12" style="height: 120px;background-color: white">
            <div class="col-md-6" style="margin-top: 8px">
                <label class="control-label">Budget Code </label>
                <input type="text" ng-model="model.job.budgetCode" readonly="true" class="form-control" uib-typeahead="budgetCode.indexNo as (budgetCode.indexNo + ' - ' + budgetCode.code) for budgetCode in model.budgetCodeList |filter:$viewValue|limitTo:10" typeahead-input-formatter="ui.budgetCodeLabel(model.job.budgetCode);">
            </div>
            <div class="col-md-6" style="margin-top: 8px">
                <label class="control-label" >Estimate Budget :</label>
                <input type="text" class="form-control" readonly="true" ng-model="model.job.estimateBudget">
            </div>
            <div class="col-md-6" style="margin-top: 12px"></div>
            <div class="col-md-6" style="margin-top: 12px">
                <button type="button" ng-click="ui.cansel()" class=" col-md-4 btn btn-danger btn-md " style="border-radius: 0px" ng-click="ui.clear()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Cansel
                </button>
                <button type="button" ng-click="ui.reject()" class=" col-md-4 btn btn-warning btn-md " style="border-radius: 0px" ng-click="ui.reject()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Reject
                </button>
                <button type="button" class="col-md-4 btn btn-success btn-md " style="border-radius: 0px" ng-click="ui.save()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Approve
                </button>
            </div>
        </div>
        <div class="col-md-12" ng-show="ui.canselReasonText" style="height: 185px;background-color: #cccccc">
            <div style="margin-top: 8px">
                <label class="control-label" > Reason :</label>
                <textarea style="font-size: 20px;" rows="3" cols="52" ng-model="model.job.reason"></textarea>
            </div>
            <div class="col-md-4" style="margin-top: 12px"></div>
            <div class="col-md-4" style="margin-top: 12px"></div>
            <div class="col-md-4" style="margin-top: 12px">
                <button type="button" ng-click="ui.cansel()" class=" col-md-6 btn btn-danger btn-md " style="border-radius: 0px" ng-click="ui.clear()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Cansel
                </button>
                <button type="button" class="col-md-6 btn btn-success btn-md " style="border-radius: 0px" ng-click="ui.saveCanselReason()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Send
                </button>
            </div>
        </div>
        <div class="col-md-12" ng-show="ui.rejectReasonText" style="height: 185px;background-color: #cccccc">
            <div style="margin-top: 8px">
                <label class="control-label" > Reason :</label>
                <textarea style="font-size: 20px;" rows="3" cols="52" ng-model="model.job.reason"></textarea>
            </div>
            <div class="col-md-4" style="margin-top: 12px"></div>
            <div class="col-md-4" style="margin-top: 12px"></div>
            <div class="col-md-4" style="margin-top: 12px">
                <button type="button" ng-click="ui.cansel()" class=" col-md-6 btn btn-danger btn-md " style="border-radius: 0px" ng-click="ui.clear()">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Cansel
                </button>
                <button type="button" class="col-md-6 btn btn-success btn-md " style="border-radius: 0px" ng-click="ui.saveRejectReason()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Send
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3 background-dark">
    <div class="padding-top-10 " style="height: calc(100vh - 94px);" >
        <div class="smart-scroll-y" ng-show="model.transactionList.length">
            <table class="table table-condensed" >
                <tbody>
                    <tr ng-repeat="jobTrans in model.transactionList| orderBy:'indexNo'">
                        <td>
                            <label class="label label-info" style="margin-top: 5px">Transaction No : <span class="control-label label-warning">{{jobTrans.indexNo|fixedLength:5}}</span></label>    
                            <label class="label label-info" style="margin-top: 5px">Status : <span><label class="control-label label-danger">{{jobTrans.status}}</label></span></label><br>
                            <label class="label label-info" style="margin-top: 5px">Date : {{jobTrans.date|date:'yyyy-MM-dd'}}</label>
                            <label class="label label-info" style="margin-top: 5px">Time : {{jobTrans.time|date:'h:mma'}}</label><br>
                            <label class="label label-info" style="margin-top: 5px">User : {{ui.userLabel(jobTrans.user)}}</label><br>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
        <div class="hide-area background-dark" style="height: calc(100vh - 130px);" ng-hide="model.transactionList.length">
            <h1>EMPTY JOB HISTORY :(</h1>
        </div>
    </div>
</div>


