<div class="bt border-primary">
    <div class="col-lg-3" style="background-color: #ffffff">
        <div class="row text-center" style="height: 40px; background-color: #2b8ec2; color: white;font-size: 20px;padding-top: 4px;">JOBS</div>
        <div style="margin-top: 15px;height: calc(100vh - 111px)" >
            <div class="input-group input-group-md">
                <input type="text"class="form-control" ng-model="model.search.indexNo" placeholder="Search by category & department" >
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
            <div class="smart-scroll-y" style="height: calc(100vh - 160px)">
                <table class="table table-hover" style="margin-top: 20px" >
                    <tbody>
                        <tr ng-repeat="jobs in model.pendingJobList| filter:{name:model.search.indexNo} | orderBy:'indexNo' ">
                            <td class="col-sm-3" ng-click="ui.setDescription()">
                                <label class="control-label" style="margin-top: 5px">Job No : <span class="label label-info">{{jobs.indexNo}}</span></label>    
                                <label class="control-label" style="margin-top: 5px">Status : <span><label class="control-label label-danger">{{jobs.status}}</label></span></label><br>
                                <label class="control-label" style="margin-top: 5px">Required Date : {{jobs.requiredDate |date:'yyyy-MM-dd'}}</label><br>
                                <label class="control-label" style="margin-top: 5px">Required Time : {{jobs.requiredTime |date:'h:mma'}}</label><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6 bg-default-light">
        <div class="row text-center" style="height: 40px; background-color: #2b5f92; color: white;font-size: 20px;padding-top: 4px;">CREATE NEW JOBS</div>
        <div style="margin-top: 15px;height: calc(100vh - 111px)">
            <table class="table" style="background: none">
                <tbody>
                    <tr>
                        <td class="col-sm-4">
                            <label class="control-label" style="margin-top: 9px">Category :</label>
                        </td>
                        <td class="col-sm-8">
                            <input type="text" class="form-control" ng-model="model.depatmentJobData.category" uib-typeahead="category.indexNo as (category.indexNo + ' - ' + category.name) for category in model.categoryList |filter:$viewValue|limitTo:10" typeahead-input-formatter="model.categoryLable(model.depatmentJobData.category);">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">
                            <label class="control-label" style="margin-top: 9px">Required Date :</label>
                        </td>
                        <td class="col-sm-8"> 
                            <input type="date" class="form-control" ng-model="model.depatmentJobData.requiredDate">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">
                            <label class="control-label"  style="margin-top: 9px">Required Time :</label>
                        </td>
                        <td class="col-sm-8"> 
                            <input type="time" class="form-control" ng-model="model.depatmentJobData.requiredTime">
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-4">
                            <label class="control-label" style="margin-top: 9px">Description :</label>
                        </td>
                        <td class="col-sm-8"> 
                            <textarea rows="4" cols="50" ng-model="model.depatmentJobData.clientDescription">
                                    
                            </textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" style="height: 47px; border-top: 1px solid #cccccc">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-success btn-sm pull-right" style="margin-top: 8px;border-radius: 0px" ng-click="ui.save()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Send Job
                    </button>
                    <button type="button" class="btn btn-primary btn-sm pull-right" style="margin-right: 10px;margin-top: 8px;border-radius: 0px" ng-click="ui.clear()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Clear
                    </button>
                </div>
            </div>
        </div>  
    </div>
    <div class="col-lg-3">
        <div class="row text-center" style="height: 40px; background-color: #2b8ec2; color: white;font-size: 20px;padding-top: 4px;">JOBS HISTORY</div>
        <div style="margin-top: 15px;height: calc(100vh - 111px)">
            <table class="table table-condensed " >
                <tbody>
                    <tr>
                        <td class="col-sm-3">
                            <label for="type" class="control-label" style="margin-top: 9px">Job No  :  001</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Department  :  Accounting </label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Sender  :  Oshada</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Status  :  Pending</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Send Date  :  2017/10/01</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Required Date  :  2017/10/07</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Required Time  :  12.00pm </label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">deadline Date  :  2017/11/07</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">deadline Time  :  12.00pm</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Worker Name  :  kamal</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Job Category  :  category 1</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Job desc  :  Desc</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Job Items  :  Desc</label><br>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
    </div>
</div>

