<div class="bt border-primary">

    <div class="col-lg-3" style="background-color: #ffffff">
        <div class="row text-center" style="height: 40px; background-color: #2b8ec2; color: white;font-size: 20px;padding-top: 4px;">JOBS</div>
        <div style="margin-top: 15px;height: calc(100vh - 111px)">
            <div class="input-group input-group-md">
                <input type="text" class="form-control" placeholder="Search by category & department" >
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
            <div class="smart-scroll-y" style="height: calc(100vh - 160px)">
                <table class="table table-hover" style="margin-top: 20px">
                    <tbody>
                        <tr ng-repeat="jobs in model.newJobList| filter:{name:model.search.indexNo} | orderBy:'indexNo' ">
                            <td class="col-sm-3" ng-click="ui.setDescription(jobs, $index)" ng-class="ui.selectedJobIndex === jobs.indexNo ? 'selected' : ''">
                                <label class="control-label" style="margin-top: 5px">Job No : <span class="label label-info">{{jobs.indexNo}}</span></label>    
                                <label class="control-label" style="margin-top: 5px">Status : <span><label class="control-label label-danger">{{jobs.status}}</label></span></label><br>
                                <label class="control-label" style="margin-top: 5px">Required Date : {{jobs.requiredDate|date:'yyyy-MM-dd'}}</label><br>
                                <label class="control-label" style="margin-top: 5px">Required Time : {{jobs.requiredTime|date:'h:mma'}}</label><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6 bg-default-light">
        <div class="row text-center" style="height: 40px; background-color: #2b5f92; color: white;font-size: 20px;padding-top: 4px;">ASSING JOBS</div>

        <div style="height: calc(100vh - 100px)">
            <table class="table">
                <tbody style="background-color: #ffffff">
                    <tr>
                        <td class="col-sm-12">
                            <label class="control-label" > Description :</label>
                            <textarea style="font-size: 20px;" readonly="true" rows="3" cols="52" ng-model="model.job.clientDescription"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-12">
                <div class="col-lg-6" style="margin-top: 0px"></div>
                <div class="col-lg-6" style="margin-top: 0px">
                    <button type="button" ng-click="ui.cansel()" class=" col-sm-4 btn btn-danger btn-sm " style="border-radius: 0px" ng-click="ui.clear()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Cansel
                    </button>
                    <button type="button" ng-click="ui.reject()" class=" col-sm-4 btn btn-warning btn-sm " style="border-radius: 0px" ng-click="ui.reject()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Edit
                    </button>
                    <button type="button" class="col-sm-4 btn btn-success btn-sm " style="border-radius: 0px" ng-click="ui.save()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Finish
                    </button>
                </div>
            </div>
            <!--            <div class="col-sm-12" style="height: 120px;background-color: white">
                            <div class="col-sm-12" style="height: 120px;background-color: white">
                                <div class="col-lg-6" style="margin-top: 8px">
                                    <label class="control-label">Budget Code </label>
                                    <input type="text" ng-model="model.job.budgetCode" class="form-control" uib-typeahead="budgetCode.indexNo as (budgetCode.indexNo + ' - ' + budgetCode.code) for budgetCode in model.budgetCodeList |filter:$viewValue|limitTo:10" typeahead-input-formatter="ui.budgetCodeLabel(model.job.budgetCode);">
                                </div>
                                
                                <div class="col-lg-6" style="margin-top: 8px">
                                    <label class="control-label">Estimate Budget :</label>
                                    <input type="text" class="form-control" ng-model="model.job.estimateBudget">
                                </div>
                                
                                <div class="col-lg-6" style="margin-top: 12px"></div>
                                <div class="col-lg-6" style="margin-top: 12px">
                                    <button type="button" ng-click="ui.cansel()" class=" col-sm-6 btn btn-danger btn-sm " style="border-radius: 0px" ng-click="ui.clear()">
                                        <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Clear
                                    </button>
                                    <button type="button" class="col-sm-6 btn btn-success btn-sm " style="border-radius: 0px" ng-click="ui.save()">
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Send To Approve
                                    </button>
                                </div>
                            </div>
                        </div> -->
        </div>
    </div>  
</div>
<div class="col-lg-3">
    <div class="row text-center" style="height: 40px; background-color: #2b8ec2; color: white;font-size: 20px;padding-top: 4px;">JOBS HISTORY</div>
    <div style="margin-top: 15px;height: calc(100vh - 111px)">
        <table class="table table-condensed " >
            <tbody>
                <tr>
                    <td class="col-sm-3">
                        <label for="type" class="control-label" style="margin-top: 9px">Job No  :  001</label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Department  :  Accounting </label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Sender  :  Oshada</label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Status  :  New</label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Send Date  :  2017/10/01</label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Required Date  :  2017/10/07</label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Required Time  :  12.00pm </label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">deadline Date  :  </label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">deadline Time  :  </label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Job Category  :  category 1</label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Worker Name  :  </label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Job desc  :  Desc</label><br>
                        <label for="type" class="control-label" style="margin-top: 9px">Job Items  :  </label><br>
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>
</div>


