<div class="bt border-primary">
    <div class="col-lg-3" style="background-color: #ffffff">
        <div class="row text-center" style="height: 40px; background-color: #2b8ec2; color: white;font-size: 20px;padding-top: 4px;">JOBS</div>
        <div style="margin-top: 15px;height: calc(100vh - 111px)">
            <div class="input-group input-group-md">
                <input type="text" class="form-control" placeholder="Search by category & department" >
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
            </div>
            <div class="smart-scroll-y" style="height: calc(100vh - 160px)">
                <table class="table table-hover" style="margin-top: 20px">
                    <tbody>
                        <tr ng-repeat="jobs in model.newJobList| filter:{name:model.search.indexNo} | orderBy:'indexNo' ">
                            <td class="col-sm-3" ng-click="ui.setDescription(jobs, $index)" ng-class="ui.selectedJobIndex === jobs.indexNo ? 'selected' : ''">
                                <label class="control-label" style="margin-top: 5px">Job No : <span class="label label-info">{{jobs.indexNo}}</span></label>    
                                <label class="control-label" style="margin-top: 5px">Status : <span><label class="control-label label-danger">{{jobs.status}}</label></span></label><br>
                                <label class="control-label" style="margin-top: 5px">Deadline Date : {{jobs.deadlineDate|date:'yyyy-MM-dd'}}</label><br>
                                <label class="control-label" style="margin-top: 5px">Deadline Time : {{jobs.deadlineTime|date:'h:mma'}}</label><br>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6 bg-default-light">
        <div class="row text-center" style="height: 40px; background-color: #2b5f92; color: white;font-size: 20px;padding-top: 4px;">ASSING JOBS</div>
        <div style="height: calc(100vh - 450px)">
            <table class="table">
                <tbody style="background-color: #ffffff">
                    <tr>
                        <td class="col-sm-12">
                            <label class="control-label" > Description :</label>
                            <textarea style="font-size: 20px" readonly="true" rows="3" cols="52" ng-model="model.jobDetailData.description" ></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-12" style="height: 145px;background-color: white">
                <div class="col-sm-6" style="display: block;">
                    <div style="margin-top: 8px">
                        <label class="control-label">Employee </label>
                        <input type="text" class="form-control" readonly="true" ng-model="model.jobDetailData.employee" uib-typeahead="employee.indexNo as (employee.indexNo + ' - ' + employee.name) for employee in model.employeeList |filter:$viewValue|limitTo:10" typeahead-input-formatter="ui.employeeLabel(model.jobDetailData.employee);">
                    </div>
                    <div style="margin-top: 8px">
                        <label class="control-label" >Deadline Date :</label>
                        <input type="text" class="form-control" readonly="true" ng-model="model.jobDetailData.deadlineDate">
                    </div>
                </div>
                <div class="col-sm-6" style="margin-top: 8px">
                    <div style="margin-top: 8px">
                        <label class="control-label">Deadline Time :</label>
                        <input type="text" class="form-control" readonly="true" ng-model="model.jobDetailData.deadlineTime">
                    </div>
                    <button type="button" class="col-sm-4 btn btn-info btn-sm " style="margin-top: 24px;border-radius: 0px" ng-click="ui.addItems()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Add Items
                    </button>
<!--                    <button type="button" class=" col-sm-4 btn btn-warning btn-sm " style="margin-top: 24px;border-radius: 0px" ng-click="ui.clear()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Clear
                    </button>
                    <button type="button" class="col-sm-4 btn btn-success btn-sm " style="margin-top: 24px;border-radius: 0px" ng-click="ui.saveJobDetail()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Assign Job
                    </button>-->
                </div>
            </div> 
        </div>
        <div ng-show="ui.addItem">
        <table class="table">
            <tbody>
                <tr style="background-color: #ffffff">
                    <td class="col-sm-3">
                        <label class="control-label"  style="margin-top: 9px" >Item :</label>
                        <input type="text" class="form-control" ng-model="model.adminJobItemData.item" 
                               uib-typeahead="items.indexNo as (items.indexNo + ' - ' + items.name) for items in model.itemList |filter:$viewValue|limitTo:10"
                               typeahead-input-formatter="ui.itemLable(model.adminJobItemData.item);" 
                               typeahead-on-select='ui.onSelect($model)'>
                    </td>
                    <td class="col-sm-5">
                        <div class="input-group input-group-md">
                            <label class="control-label" style="margin-top: 9px">Qty :</label>
                            <input type="text" class="form-control" ng-model="model.adminJobItemData.qty">
                        </div>
                    </td>
                    <td class="col-sm-4">
                        <div class="input-group input-group-md">
                            <label class="control-label" style="margin-top: 9px">Unit Price:</label>
                            <input type="text" class="form-control" ng-model="model.adminJobItemData.unitPrice">

                            <span class="input-group-btn" >
                                <button ng-click="ui.saveJobItems();" class="btn btn-success btn-md pull-right" style="margin-top:31px; margin-left: 20px" type="button"><i class="glyphicon glyphicon-plus-sign"></i></button>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="smart-scroll-y" style="height: calc(100vh - 525px);">
            <table class="table table-hover" style="margin-bottom: 0px;">
                <col style="width: 25%">
                <col style="width: 35%">
                <col style="width: 20%">
                <col style="width: 10%">
                <thead style="background-color: #eeeeee">
                    <tr>
                        <td>Item</td> 
                        <td>Qty</td> 
                        <td>price ( Rs: )</td> 
                        <td>&nbsp;</td>
                    </tr>
                </thead>
            </table>
            <table class="table table-hover">
                <col style="width: 25%">
                <col style="width: 40%">
                <col style="width: 20%">
                <col style="width: 10%">
                <tbody>
                    <tr ng-repeat="jobItems in model.jobItemList">
                        <td>{{ui.itemLable(jobItems.item)}}</td>
                        <td>{{jobItems.qty}}</td>
                        <td>{{jobItems.unitPrice}}</td>
                        <td>
<!--                            <span class="input-group-btn" >
                                <a class="btn btn-xs btn-danger" ng-click="ui.edit(subCategory, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                                <a class="btn btn-xs btn-primary" ng-click="ui.edit(subCategory, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                            </span>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="row text-center" style="height: 40px; background-color: #2b8ec2; color: white;font-size: 20px;padding-top: 4px;">JOBS HISTORY</div>
        <div style="margin-top: 15px;height: calc(100vh - 200px)">
            <table class="table table-condensed " >
                <tbody>
                    <tr>
                        <td class="col-sm-3">
                            <label for="type" class="control-label" style="margin-top: 9px">Job No  :  001</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Department  :  Accounting </label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Sender  :  Oshada</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Status  :  New</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Send Date  :  2017/10/01</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Required Date  :  2017/10/07</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Required Time  :  12.00pm </label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">deadline Date  :  </label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">deadline Time  :  </label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Job Category  :  category 1</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Worker Name  :  </label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Job desc  :  Desc</label><br>
                            <label for="type" class="control-label" style="margin-top: 9px">Job Items  :  </label><br>
                        </td>
                    </tr>  
                </tbody>
            </table>
        </div>
        <div>
            <span class="input-group-btn" >
                <button ng-click="ui.startJob()" class="col-lg-12 btn btn-success btn-md pull-right" style="height: 80px" type="button"><i class="glyphicon glyphicon-floppy-saved"></i><br>Start Job</button>
            </span>
        </div>
    </div>
</div>

