<div class="col-md-3 background-blue-dark">
    <h4 class="text-center background-md-header"> JOBS</h4>
</div>
<div class="col-md-6 background-blue-light">
    <h4 class="text-center background-md-header"> ADMIN APPROVE</h4>
</div>
<div class="col-md-3 background-blue-dark">
    <h4 class="text-center background-md-header"> JOBS HISTORY</h4>
</div>
<div class="col-md-3 background-dark">
    <div class="padding-top-10" style="height: calc(100vh - 94px);" >
        <div class="input-group  padding-top-10">
            <input type="text" class="form-control" placeholder="Search by category & department" >
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
        <div class="smart-scroll-y" style="height: calc(100vh - 172px);" ng-show="model.newJobList.length">
            <table class="table table-hover" style="margin-top: 20px">
                <tbody>
                    <tr ng-repeat="jobs in model.newJobList| filter:{name:model.search.indexNo} | orderBy:'indexNo' ">
                        <td class="col-sm-3" ng-click="ui.setDescription(jobs, $index)" ng-class="ui.selectedJobIndex === jobs.indexNo ? 'selected' : ''">
                            <label class="control-label" style="margin-top: 5px">Job No : <span class="label label-info">{{jobs.indexNo}}</span></label>    
                            <label class="control-label" style="margin-top: 5px">Status : <span><label class="control-label label-danger">{{jobs.status}}</label></span></label><br>
                            <label class="control-label" style="margin-top: 5px">Required Date : {{jobs.requiredDate|date:'yyyy-MM-dd'}}</label><br>
                            <label class="control-label" style="margin-top: 5px">Required Time : {{jobs.requiredTime|date:'h:mma'}}</label><br>
                            <label class="control-label" style="margin-top: 5px">Send Department : {{ui.setDepartmentLabel(jobs.user)}}</label><br>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="hide-area background-dark" style="height: calc(100vh - 172px);" ng-hide="model.newJobList.length">
            <h1>EMPTY JOBS :(</h1>
        </div>
    </div>
</div>

<div class="col-md-6 background-white">
    <div class="padding-top-10 " style="height: calc(100vh - 94px);">
        <uib-tabset type="pills" active="active">
            <uib-tab heading="JOB DETAILS" index="0">
                <div class="smart-scroll-y">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <label class="control-label">Description :</label>
                            <textarea class="form-control" style="font-size: 20px; height: 13vh" readonly="true" ng-model="model.adminJobDetailData.description"></textarea>
                        </div>
                        <form ng-submit="ui.saveJobDetail()">
                            <div class="col-md-6" style="display: block; ">
                                <div style="margin-top: 8px">
                                    <label class="control-label">Employee </label>
                                    <input type="text" required id="employeeText" class="form-control" ng-disabled="ui.mode !== 'select'" ng-model="model.adminJobDetailData.employee" 
                                           uib-typeahead="employee.indexNo as (employee.indexNo + ' - ' + employee.name) for employee in model.employeeList |filter:$viewValue|limitTo:10" 
                                           typeahead-input-formatter="model.employeeLable(model.adminJobDetailData.employee);"
                                           typeahead-editable='false'
                                           >
                                </div>
                                <div style="margin-top: 8px">
                                    <label for="department" class="control-label" >Deadline Date :</label>
                                    <input type="date" required class="form-control" ng-disabled="ui.mode !== 'select'" ng-model="model.adminJobDetailData.deadlineDate">
                                </div>
                                <div style="margin-top: 8px">
                                    <label for="department" class="control-label">Deadline Time :</label>
                                    <input type="time" required class="form-control" ng-disabled="ui.mode !== 'select'" ng-model="model.adminJobDetailData.deadlineTime">
                                </div>
                            </div>
                            <div class="col-md-6" style="margin-top: 8px">
                                <label for="department" class="control-label">Admin Description</label>
                                <textarea class="form-control" style="height: 17vh" required ng-disabled="ui.mode !== 'select'" ng-model="model.adminJobDetailData.adminDescription"></textarea>

                                <button type="button" class="col-md-6 btn btn-warning btn-sm" ng-disabled="ui.mode !== 'select'" style="margin-top: 8px;border-radius: 0px" ng-click="ui.clear()">
                                    <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span> Clear
                                </button>
                                <button type="submit" class="col-md-6 btn btn-success btn-sm" ng-disabled="ui.mode !== 'select'" style="margin-top: 8px;border-radius: 0px">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span> Assign Job
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-12" style="margin-top: 10px">
                        <div style="height: calc(100vh - 480px)">
                            <table class="table " style="margin-bottom: 0px">
                                <col style="width: 25%">
                                <col style="width: 65%">
                                <col style="width: 10%">
                                <thead style="background-color: #eeeeee">
                                    <tr>
                                        <td>Name</td> 
                                        <td>Work Description</td> 
                                        <td>&nbsp;</td>
                                    </tr>
                                </thead>
                            </table>
                            <div class="smart-scroll-y" ng-show="model.jobDetailList.length" style="height: calc(100vh - 520px);">
                                <table class="table" style="margin-bottom: 0px" >
                                    <tbody class="smart-scroll-y">
                                    <col style="width: 25%">
                                    <col style="width: 65%">
                                    <col style="width: 10%">
                                    <tr ng-repeat="jobDetails in model.jobDetailList">
                                        <td>{{model.employeeLable(jobDetails.employee)}}</td>
                                        <td>{{jobDetails.adminDescription}}</td>
                                        <td>
                                            <span class="input-group-btn" >
                                                <a class="btn btn-xs btn-primary" ng-click="ui.editJobDetail(jobDetails, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                                                <a class="btn btn-xs btn-danger" ng-click="ui.deleteJobDetail(jobDetails, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="hide-area background-dark" style="height: calc(100vh - 534px)" ng-hide="model.jobDetailList.length">
                                <h1>NO ASSING JOBS TO EMPLOYEE :(</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="JOB ITEMS" index="1">
                <div class="smart-scroll-y">
                    <div class="col-md-12">
                        <table class="table" style="margin-bottom: 0px">
                            <col style="width: 25%">
                            <col style="width: 65%">
                            <col style="width: 10%">
                            <thead style="background-color: #eeeeee">
                                <tr>
                                    <td>Name</td> 
                                    <td>Work Description</td> 
                                    <td>&nbsp;</td>
                                </tr>
                            </thead>
                        </table>
                        <div class="smart-scroll-y" style="height: calc(100vh - 593px);" ng-show="model.jobDetailList.length">
                            <table class="table" style="margin-bottom: 0px">
                                <tbody class="smart-scroll-y">
                                <col style="width: 25%">
                                <col style="width: 65%">
                                <col style="width: 10%">
                                <tr ng-repeat="jobDetails in model.jobDetailList" ng-click="ui.selectedJobDetails(jobDetails)" ng-class=" ui.selectedDetailIndex === jobDetails.indexNo ? 'selected' : ''" >
                                    <td>{{model.employeeLable(jobDetails.employee)}}</td>
                                    <td>{{jobDetails.adminDescription}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="hide-area background-dark" style="height: calc(100vh - 593px);"  ng-hide="model.jobDetailList.length">
                            <h1>NO ASSING JOBS TO EMPLOYEE :(</h1>
                        </div>
                    </div>
                    <div class="col-md-12 " >
                        <div class="col-md-12 input-header-dark" >
                            <form ng-submit="ui.saveJobItems()">
                                <div class="col-md-5">  
                                    <label class="control-label"  style="margin-top: 9px" >Item :</label>
                                    <input required type="text" class="form-control" id="itemText" ng-disabled="ui.mode1 !== 'select'" ng-model="model.adminJobItemData.item" 
                                           uib-typeahead="items.indexNo as (items.indexNo + ' - ' + items.name) for items in model.itemList |filter:$viewValue|limitTo:10"
                                           typeahead-input-formatter="model.itemLable(model.adminJobItemData.item);" 
                                           typeahead-on-select='model.onSelect($model)'
                                           typeahead-editable='false'
                                           >
                                </div>

                                <div class="col-md-2">
                                    <label class="control-label" style="margin-top: 9px">Qty :</label>
                                    <input required type="number" class="form-control" ng-disabled="ui.mode1 !== 'select'" ng-model="model.adminJobItemData.qty">
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" style="margin-top: 9px">Unit Price:</label>
                                    <input required type="text" class="form-control" ng-disabled="ui.mode1 !== 'select'" ng-model="model.adminJobItemData.unitPrice">

                                </div>
                                <div class="col-md-2">
                                    <span class="input-group-btn" >
                                        <button ng-disabled="ui.mode1 !== 'select'" class="btn btn-success btn-md pull-right" style="margin-top:31px; margin-left: 20px" type="submit"><i class="glyphicon glyphicon-plus-sign"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table" style="margin-bottom: 0px;">
                            <col style="width: 25%">
                            <col style="width: 35%">
                            <col style="width: 20%">
                            <col style="width: 10%">
                            <thead style="background-color: #eeeeee">
                                <tr>
                                    <td>Item</td> 
                                    <td>Qty</td> 
                                    <td>price ( Rs: )</td> 
                                    <td>&nbsp;</td>
                                </tr>
                            </thead>
                        </table>
                        <div class="smart-scroll-y" ng-show="model.jobItemList.length" style="height: calc(100vh - 555px);">
                            <table class="table" style="margin-bottom: 0px">
                                <col style="width: 25%">
                                <col style="width: 40%">
                                <col style="width: 20%">
                                <col style="width: 10%">
                                <tbody>
                                    <tr ng-repeat="jobItems in model.jobItemList">
                                        <td>{{model.itemLable(jobItems.item)}}</td>
                                        <td>{{jobItems.qty}}</td>
                                        <td>{{jobItems.unitPrice}}</td>
                                        <td>
                                            <span class="input-group-btn" >
                                                <a class="btn btn-xs btn-primary" ng-click="ui.deleteItems(jobItems, $index)"><span class="glyphicon glyphicon-edit"></span></a>
                                                <a class="btn btn-xs btn-danger" ng-click="ui.editItems(jobItems, $index)"><span class="glyphicon glyphicon-trash"></span></a>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="hide-area background-dark" style="height: calc(100vh - 582px);"  ng-hide="model.jobItemList.length">
                            <h1>NO JOB ITEMS TO DISPLAY:(</h1>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12" style="background-color: #cccccc; padding-top: 10px; width: 100% ; height: 45px ; margin-top: 10px">
                            <label class="control-label label-lg col-lg-9" style="font-size: 18px"> Total Price </label>   
                            <label class="control-label label-lg col-lg-3" style="font-size: 18px">RS : {{model.totalItemPrice}} </label>
                        </div>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

<div class="col-md-3 background-dark">
    <div class="padding-top-10 smart-scroll-y" style="height: calc(100vh - 191px);" ng-show="model.transactionList.length">
        <table class="table table-condensed" >
            <tbody>
                <tr ng-repeat="jobTrans in model.transactionList| orderBy:'indexNo'">
                    <td>
                        <label class="label label-info" style="margin-top: 5px">Transaction No : <span class="control-label label-warning">{{jobTrans.indexNo|fixedLength:5}}</span></label>    
                        <label class="label label-info" style="margin-top: 5px">Status : <span><label class="control-label label-danger">{{jobTrans.status}}</label></span></label><br>
                        <label class="label label-info" style="margin-top: 5px">Date : {{jobTrans.date|date:'yyyy-MM-dd'}}</label>
                        <label class="label label-info" style="margin-top: 5px">Time : {{jobTrans.time|date:'h:mma'}}</label><br>
                        <label class="label label-info" style="margin-top: 5px">User : {{ui.userLabel(jobTrans.user)}}</label><br>
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>
    <div class="col-md-12 hide-area background-dark" style="height: calc(100vh - 190px);" ng-hide="model.transactionList.length">
        <h1>EMPTY JOB HISTORY :(</h1>
    </div>
</div>
<div class="col-md-3 background-dark">
    <div class="col-md-12">
        <span class="input-group-btn" >
            <button ng-click="ui.finishAssign()" class="col-lg-12 btn btn-success pull-right" style="height: 80px" type="button"><i class="glyphicon glyphicon-floppy-saved"></i><br>FINISH ASSIGN</button>
        </span>
    </div>
</divF>
